.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin-right: 18px;
}


#logo{
    width: 200px;
}

.hero{
    background-color: #1F2937;
    display: flex;
    padding: 100px 350px;
}
#money{
    width: 600px;
}

.main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}